<h1>{{game.title}}</h1>
<p>{{game.desc}}</p>
<p>Date de sortie : {{game.releaseDate}}</p>
<p>Genre : <a href="/genres/{{game.genre.id_genre}}">{{game.genre.genre}}</a></p>
<p>Éditeur : <a href="/editors/{{game.editor.id_editor}}">{{game.editor.name}}</a></p>
<a href="/games/{{game.id_game}}/edit">Modifier</a>
<a href="/games/{{game.id_game}}/delete">Supprimer</a>