<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>
    {{> header}}

    <div class="container">
        <h1>Jeux mis en avant</h1>
        <ul>
            {{#each games}}
                <li>
                    <a href="/games/{{this.id_game}}">{{this.title}}</a> - {{this.genre.genre}} ({{this.editor.name}})
                </li>
            {{/each}}
        </ul>
        <form action="/games/create" method="get" style="display: inline;">
            <button type="submit">Créer un jeu</button>
        </form><br>
        <form action="/editors/create" method="get" style="display: inline;">
            <button type="submit">Créer un éditeur</button>
        </form>
    </div>

    {{> footer}}
</body>
</html>