<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeux par éditeurs</title>
    <link rel="stylesheet" href="/css/main.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>
{{> header}}

<h1>Jeux de éditeur</h1>
<ul>
    {{#each games}}
        <li><a href="/games/{{this.id_game}}">{{this.title}}</a> - {{this.genre.genre}}</li>
    {{/each}}
</ul>

<a href="/editors/{{game.editor.id_editor}}/edit">Modifier l'éditeur</a>
<a href="/editors/{{game.editor.id_editor}}/delete">Supprimer l'éditeur</a>

{{> footer}}
</body>
</html>